.button-delete {
  background-color: #e53935; /* Rojo fuerte */
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button-delete:hover {
  background-color: #c62828; /* Rojo más oscuro */
}

.button-edit {
  background-color: #1e88e5; /* Azul fuerte */
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button-edit:hover {
  background-color: #1565c0; /* Azul más oscuro */
}
